
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
head, body {
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  text-wrap: nowrap;
  display: inline-block;
}
input{
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
h3, h2, p {
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.checkbox-style{
  color: #887d8a;
}
.loading-icon {
  content:"";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#887d8a; 
  margin: 10px;
  padding: 10px;
  animation: loading-animation 3s infinite; 
}
@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
    border: #141414 4px;
    width: 10px;
    height: 10px;
    }
  25% {
      transform: rotate(180deg);
      background-color: #D3D3D3 ; 
      border: #141414 4px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
  }
  50% {
      transform: rotate(360deg);
      background-color: #808080 ; 
      border: #141414 4px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
   }
  75% {
      transform: rotate(360deg);
      background-color:#505050 ; 
      border: #141414 4px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  100% {
    transform: rotate(720deg);
    background-color: #2F2F2F; 
    width: 10px;
    height: 10px;
  }
}

